:root {
    --ochre: #d17a22;
    --midnight-green: #095256;
    --feldgrau: #47685a;
    --ash-grey: #b0b9c1;
    --umber: #594f3b;
    --bistre: #2d281e;
    --bone-white: #e0dfdc;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif ;
}

body {
    background: var(--midnight-green);
    background-image: url(/materials/cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin: 15px 50px;
    /* max-width: 1200px; */
}

h1, h3, h5 {
    font-family: 'Roboto', Times, serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
    "head"
    "main"
    "footer";
}

/* Sivun yläosa */

.head {
    background-image: url(https://koodikas.github.io/blogi/materials/Fall.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    max-height: 400px;
    min-height: 100px;;
    grid-area: head;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

header {
    grid-column: 3/8;
    grid-row: 6/7;
    justify-self: start;
    font-size: 30px;
    color: var(--bone-white);
    text-shadow: 4px 3px #7A7A7A;
    color: var(--bone-white);
    padding-left: 10px;
}

nav {
    grid-column: 1/3;
    grid-row: 6/7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    border-right: 5px solid var(--ochre);
    background-image: linear-gradient(260deg,rgba(128, 128, 128, 0.3), transparent 80%);
}

nav a {
    text-decoration: none;
    color: var(--bone-white);
    padding-right: 10px;
    font-size: 20px;
}

.active {
    color: #e0dfdc75;
    border-right: 5px solid var(--bone-white);
}

.active:hover {
    color: #e0dfdc75;
}

nav a:hover {
    color: teal;
}

/* Sivun keskiosa */

main {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
    "about aside";
    background-color: var(--ash-grey);
}

.about {
    grid-area: about;
    display: grid;
    grid-auto-flow: row;
    border-top: 5px solid var(--ochre);
    border-left: 5px solid var(--ochre);
}

.blog {
    padding: 10px;
    border-bottom: 2px solid var(--bistre);
}

.blog:last-child{
    border-bottom: 0px;
}

.blog h5,h3,p {
    color: var(--bistre);
    margin: 0;
}

.blog h5 {
    font-weight: normal;
}

.blog a {
    color: var(--bistre);
}

aside {
    grid-area: aside;
    border: 5px outset var(--ochre);
    border-radius: 0px 0px 0px 0px;
    padding: 10px;
    background-color: grey;
    background-image: url(https://koodikas.github.io/blogi/materials/Scrolling-paused.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 361.5px;
}

aside:hover {
    background-image: url(https://koodikas.github.io/blogi/materials/Scrolling.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

aside h3{
    background-color: var(--umber);
    color: var(--bone-white);
    padding: 10px;
    
}

aside ul {
    padding-left: 0;
}

aside li {
    list-style-type: none;
    padding: 10px;
}

aside li a {
    font-size: 2rem;
    font-weight: bold;
    color: #f6ae2d;
    text-decoration: none;
    
}

/* Sivun alaosa */

footer {
    padding: 10px;
    justify-self: stretch;
    border-radius: 0px 0px 10px 10px;
    border-right: 5px solid var(--ochre);
    border-left: 5px solid var(--ochre);
    border-bottom: 5px solid var(--ochre);
    text-align: center;
    background-color: var(--feldgrau);
}

/* Responsive media */

@media screen and (min-width: 1050px) {
    .about {
        grid-auto-flow: unset;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    }

    .blog {
        border: 0;
    }

    header {
        font-size: 30px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 1050px) {
    body {
        margin: 15px 20px;
    }
}

@media screen and (max-width: 650px) {
    body {
        margin: 0;
    }

    main {
        grid-template-areas: 
        "about about"
        "aside aside";
        border-radius: 0px 0px 0px 60px;
    }

    .about {
        border-right: 5px solid var(--ochre);
    }

    aside {
        border: 5px solid var(--ochre);
    }

    footer {
        border-radius: 0px 0px 0px 0px;
        border: 0px;
    }
}

@media screen and (max-width: 550px) {
    body {
        margin: 0;
    }

    .blog {
        max-height: auto;
    }

    header {
        grid-column: 2/10;
        grid-row: 3/6;
        justify-self: center;
        font-size: 25px;
        padding-left: 0;
    }
    
    nav {
        grid-column: 1/-1;
        grid-row: -3/-1;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        border-right: 0;
        background-image: linear-gradient(to top,rgba(128, 128, 128, 1.0), transparent 80%);
    }
    
    nav a {
        padding-right: 0;
        font-size: 20px;
    }

    .active {
        color: #e0dfdc75;
        border-bottom: 5px solid var(--bone-white);
        border-right: 0;
    }
}
